@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-bg {
  background-color: #003262;
}


.theme-clr {
  color: black;
}

html {
  font-family: sans-serif !important;
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}



@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1rem)); 
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 60s linear infinite;
  width: max-content;
}

.group:hover .animate-scroll-horizontal {
  animation-play-state: paused;
}

.animation-pause {
  animation-play-state: paused;
}